* { padding:0px; margin:0px; line-height:1; }

body
{
    background-repeat:repeat-x;    
    background:url("Images/bg.jpg");
    height:100%;           
}

#wholepage
{
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    padding:5px 5px;
    
    overflow:scroll;
    z-index:-1;  
    
}

.noselect
{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none; 
}

.toolbar
{    
}

.focused
{
    border-width:1px;  
    border-style:solid;
    border-color:Highlight;
}

.unfocused
{
    border-width:1px;  
    border-style:solid;
    border-color:#B6B6B6;
    
}

#maincontent
{
    width:60%;
    margin-left:20%;
    padding-left:5px;
    padding-top:5px;   
    
}
    #maincontent #glcanvas
    {
        
    }

    #maincontent #modellist
    {
        width:640px;      
        height: 144px;
    }
        #maincontent #modellist a
        {
            padding-left:4px;
            padding-top:3px;
        }
        
        #maincontent #modellist .selected
        {
            border:2px Solid Green;
        }